.pro{
    margin-right: 300px;
   color: black;
    
}
.reg{
   margin-left: 100px;
   background-color: blue;
}

.body{
    margin: 40px;
 
}
.p{
    text-align: center;
    margin-bottom: 80px;
}
.card-img{
    display: flex;
    margin-right: 20px;
}
.see{
margin-left: 500px;
    background-color: aqua;
    margin-bottom: 60px;
}
.span-h{
  margin-top: 10px;
}
.ready{
    background-color:cyan;
    margin-right:50px;
    margin-bottom: 60px;
    
}
.reg-n{
    margin-left: 1100px;
 
   
}
.p{
    margin-top: 100px;
    margin-bottom: 100px;
}


.s{
   margin-left: 30px;
  
}

.a{
    margin-bottom: 100px;
    text-align: center;
    margin-top: 100px;
}

.f{
    text-align: center;
   margin-bottom: 100px;
   margin-top: 160px;
    
}



.meet{
    margin-top: 200px;
}

.p-1{
    width: 400px;
}

.student{
    display: flex;
}

.student div{
    margin: 10px;
}
.See_more button{
    margin-left: 550px;
    color: white;
    background-color: rgba(11, 211, 95, 0.918);
    border-width: 1px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-h{

    text-align: center;
    color: white;
    background-color: black;
}